@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Golos+Text:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

// color scheme :
$darkSlate : #111111 ;
$lightSlate : #232322 ;
$lightWhite : #ffffff ;
$midWhite : #d8e0da ;
$grey : #5f5f5f ;
$lightgrey: #181818 ;
$midgrey: #1e1e1e ;
$midRed : #ca1b28 ;
$lightRed : #ec403f ;

// font styles : 
$golos : 'Golos', sans-serif ;
$barlow : 'Barlow', sans-serif ;
$montserrat : 'Montserrat', sans-serif ;
$quicksand : 'Quicksand', sans-serif ;

@import '../Components/Navbar/Navbar.scss';
@import '../Components/Home/HomePage/HomePage.scss';
@import '../Components/Home/Header/Header.scss' ;
@import '../Components//Home/Card/Card.scss' ;
@import '../Components/Home/Featured/Featured.scss' ;
@import '../Components/Home/Footer/Footer.scss';


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        background: $lightgrey;
      }
      
      ::-webkit-scrollbar-thumb {
        background: #000;
      }
}


.App{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(205deg, $lightSlate 2%, $darkSlate 35%)  ;
}