
.header{
    width: 100vw;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;

    > .image{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        >img{
            width: 100% ;
            height: 100%;
            object-fit: cover;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    > .details{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;
        gap: 2px;
        

        > h3{
            font-family: $montserrat;
            color: $midRed;
            font-size: large;
        }

        > h1{
            font-family: $montserrat;
            color: $lightWhite;
            font-size: xx-large;
        }

        > p{
            font-family: $montserrat;
            color: $grey;
            font-weight: 300;
            font-size: medium;
        }

        > button {
            margin-top: 10px;
            width: 9rem;
            height: 3rem;
            font-family: $montserrat;
            font-weight: 600;
            color: $lightWhite;
            border: none;
            background: linear-gradient(260deg, $lightRed 1%, $midRed 35%)  ;
            cursor: pointer;
        }
    }
}


// RESPONSIVE STYLES //

@media screen and (max-width: 650px) {
    .header{
        width: 100%;
        height: 91vh;
        flex-direction: column;

        > .image{ 
            width: 100%;
            height: 100%;
            justify-content: center; 

            >img{
                width: 100%;
                height: 100%;
             object-fit: contain;
            }
        }

        > .details{
            width: 100%;
            height: 100% ;
            padding-top: 10px;
            padding-right: 0px;
            gap: 2px 0px ;
            align-items: center;

            h1{
                text-align: center;
            }
    
            > p{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .header{
        > .details{
            padding-top: 10px;
            padding-right: 0px;
            gap: 1px 0px ;
            align-items: center;

            > h1{
                text-align: center;
                font-size: x-large;
            }
    
            > p{
                font-weight: 200;
                font-size: small;
                text-align: center;
            }

            > button {
                width: 8rem;
                height: 2.5rem;
                margin-top: 10px;
            }
        }
    }
}